:root {
  --honeydew: #edffec;
  --light-green: #61e786;
  --gray: #5a5766;
  --english-violet: #48435c;
  --tropical-indigo: #9792e3;
}

body {
  font-family: "Share Tech", sans-serif;
  font-size: 18px;
  color: white;

  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

/* Navigation.js styling */
nav {
  background-image: linear-gradient(180deg, #582cb8 0%, #a24bb8f7 100%);
  box-shadow: inset 0 0 50px rgb(113, 110, 118), 0 0 1px 1px rgb(8, 8, 8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 5.5rem;
  font-size: 24px;
}

.connect-wallet {
  font-size: 18px;
  width: 10rem;
  height: 4rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: solid black;
  margin-right: 10px;
}
/* End of Navigation.js styling */

/* Home.js styling */
.background {
  width: 98%;
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.219),
    0 0 25px rgba(94, 17, 210, 0.477), 0 0 1px 1px rgb(14, 14, 14);
  border-radius: 10px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3%;
}

.homeCard,
.projectCard {
  /* background-color: rgba(198, 198, 211, 0.397); */
  background-color: rgba(207, 189, 209, 0.275);
}

.homeCard {
  margin: 0 auto;
  margin-top: 1.5%;
  height: 90%;
  width: 98%;
}

.additionals {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
}

.picture {
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.219),
    0 0 25px rgba(94, 17, 210, 0.477), 0 0 1px 1px rgb(14, 14, 14);
  width: 27rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.pictureFigure {
  margin-top: 7%;
}

.project {
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.219),
    0 0 25px rgba(94, 17, 210, 0.477), 0 0 1px 1px rgb(14, 14, 14);
  width: 50rem;
  border-radius: 10px;
  text-align: center;
}

.projectCard {
  width: 85%;
  line-height: 2rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 7%;
  padding: 10px;
}

/* End of Home.js styling */

/* AiNFT.js Styling */
.container {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.166),
    0 0 25px rgba(94, 17, 210, 0.477), 0 0 1px 1px rgb(14, 14, 14);
  border-radius: 10px;
  width: 55%;
  margin: 5% 2%;
  padding: 10px;
}

.prompt-form,
.metadata-form {
  padding: 10px;
  background-color: rgba(48, 149, 129, 0.278);
  width: 95%;
  margin: 5px auto;
  border-radius: 5px;
}

.att {
  width: 99%;
  margin: auto 3px;
  padding: 5px;
}

input.form-control {
  margin: 2px auto;
}

.generate-btn {
  width: 100%;
}

.mint-btn {
  width: 99%;
  margin: auto 5px;
}

.image-wrapper {
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.166),
    0 0 25px rgba(94, 17, 210, 0.477), 0 0 1px 1px rgb(14, 14, 14);
  border-radius: 10px;
  padding: 10px;
  margin: 5% 0 0 0;
  height: 40%;
  width: 50%;
}

.generated-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 5px;
  border: red solid;
}

.generated-image img {
  width: 600px;
  height: 600px;
}
/* End of AiNFT.js styling */

/* Footer.js styling */
footer {
  margin-top: 40px;
  background-color: #000000;
  box-shadow: inset 15px 15px 60px 60px rgba(227, 225, 231, 0.139),
    0 0 10px rgba(94, 17, 210, 0.477);
  height: 9rem;
  text-align: center;
  padding: 40px;
  position: relative;
  bottom: 0;
  left: 0;
}
footer a {
  margin: 40px;
  font-size: 24px;
}
/* End of Footer.js styling */
